/* ---------------------------------------------------------------
			RE-INITIALISATION DES TAGS HTML
	Pour 귩ter les valeurs par dꧡut diff곥ntes suivant les 
	navigateurs. Seuls les tags le plus	souvent utilis고et non 
	d걲ꤩ고sont pris en compte.
	Reset complet : http://meyerweb.com/eric/tools/css/reset/
--------------------------------------------------------------- */ 
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, img, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;	
	vertical-align: baseline;
	background: transparent;
	}
body {
	line-height: 1;
	}	
ol, ul {
	list-style: none;
	}
table { 
	border-collapse: collapse;
	border-spacing: 0;
	}
	
/* ---------------------------------------------------------------
	FEUILLE DE STYLE ORIGINALE	
--------------------------------------------------------------- */
html {
	height: 100%
	}
	
body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;  /*10pt;	*/
  	color: #404040;
	background: #9ac5e7 url(../images/fond.jpg);  	
	}
	
p {
	padding: 10px 5px;	
}

a {
	color: #3c96f1;
	text-decoration: none;
}
	
a:hover {
	text-decoration: underline;
}
	
strong {
	font-weight: bold;
}


#bcPage {
	margin: 10px auto;
	width: 1030px;
	position: relative;
}


	
/* ---------------------------------------------------------------
	BLOC ENTETE
--------------------------------------------------------------- */
#bcEntete {
	background: url(../images/tete.png) no-repeat; 
	height: 135px;
	position: relative;
}

#bcLogo {
	background: url(../images/logo.png) no-repeat;
	width: 285px;
	height: 45px;
	position: absolute;
	top: 10px;
	left: 30px;
}

	
#btnDeconnexion {
	background: url(../images/deconnexion.png) no-repeat;
	height: 36px;
	width: 22px;
	position: absolute;
	right: 30px;
	top: 10px;
}
	
	
#bcOnglets { 
	position: absolute;
	left: 321px;
	top: 5px;
}
	
#bcOnglets a,
#bcOnglets h2 {
	text-decoration: none; 
    text-align: center;
	font: bold 16px Verdana;    
	color: #757575; 
	background: url(../images/onglet_off.png) no-repeat; 
	float: left;
	width: 158px;
	height: 24px;
	margin-right: 1px;
	padding-top: 7px;
}

#bcOnglets a:hover { 
	color: #ff9b37; 
}

#bcOnglets h2 {
	background: url(../images/onglet_on.png) no-repeat; 
	color: #ff9b37;
	height: 27px;
}
	

	
/* ---------------------------------------------------------------
	BLOC PIED DE PAGE
--------------------------------------------------------------- */
#bcPied {
	position: relative;
	clear: both;
	height: 156px;
	background: transparent url(../images/pied.png) no-repeat;		
	}

#bcPied a {
	text-decoration: none; 
	font: 14px Verdana;    
	color: #404040; 
	position: absolute;
	background: transparent url(../images/fleche_pied.png) no-repeat;
	padding-left: 22px;
	height: 22px;
	}
	
#apropos {	
	left: 198px;
	top: 55px;
	}		

#confident {	
	left: 360px;
	top: 75px;
	}
		
#conditions {	
	left: 598px;
	top: 95px;
	}
	
#bcPied a:hover {
	text-decoration: underline;
	color: #000; 
	}
	
#copyright {
	font: 14px Verdana;    
	position: absolute;	
	left: 792px;
	top: 55px;
	}
	


/* ---------------------------------------------------------------
	BLOCS DE CONTENU
--------------------------------------------------------------- */

#bcContenu {
	position: relative;
	background: url(../images/contenu.png) repeat-y;
	min-height: 500px;
	padding: 0px 10px;
}


#bcGauche {
	float: left;	
	width: 250px;
	margin: 10px 10px;
}

#bcCentre {
	position: relative;
	display: block;
	margin-left: 250px;	
}

/* ---------------------------------------------------------------
	BLOC CALENDRIER
--------------------------------------------------------------- */

#calendrier {
	background-color: #FFFFFF;
	border: solid 2px #9ac5e7;
	width: 235px;
	text-align: center;
	padding: 1px;
	margin-bottom: 20px;
}	

#calendrier table {
	width: auto;
	margin: 10px auto;	
}

#calendrier p {
	background-color: #FFF;
	text-align: center;
	margin-bottom: 5px;
	padding: 10px;		
}

#calendrier td a {
	display: block;
	width: 30px;
	height: 22px; 	
	padding-top: 7px;
	color: #000000;	
}

#calendrier a:hover {
	text-decoration: none;	
}

#calendrier a.lienJourHorsMois {
	color: #999999;	
}

#calendrier th {
	font-weight: bold;
	height: 20px;
}

#calendrier td {
	border: solid 1px #000000;
	color: #000000;	
} 

.flechegauche {
	float: left;
	width: 20px;
	height: 20px;	
}

.flechedroite {
	float: right;
	width: 20px;
	height: 20px;	
}

.aligncenter {
	text-align:center;	
}

.jourCourant {
	background-color: #5555FF;	
}

.semaineCourante {
	background-color: #9ac5e7;
}

.aujourdHui {
	background-color: #FF5555;
}


/* ---------------------------------------------------------------
	BLOC AFFICHAGE DES CATEGORIES
--------------------------------------------------------------- */

#categories {
	background-color: #FFFFFF;
	border: solid 2px #9ac5e7;
	width: 235px;
	padding: 1px 1px 10px 1px;
}


#categories h3 {
	background-color: #9ac5e7;
	padding: 10px;	
	font-weight: bold;
	font-size: 13px;  /*10pt;	*/
	text-align: center;
}

#categories p {
	padding: 10px 10px 5px 10px;	
}

#categories ul {
	margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 2px;
}
	
#categories li {
	padding-top: 2px; 	
}	

#categories a{
    margin-left:5px;
}

.categorie {
 	float: left; 
	margin: 0px 5px 0px 20px; 
	width: 10px; 
	height: 10px; 
}							  				 

.groupeA {
	border: solid 2px #00DD00; 
	background-color: #00FF00;
}
.groupeB {
	border: solid 2px #DD0000; 
	background-color: #FF0000;
}
.groupeC {
	border: solid 2px #0000DD; 
	background-color: #0000FF;
}

/* ---------------------------------------------------------------
	RENDEZ-VOUS ET EVENEMENTS
--------------------------------------------------------------- */

.rendezvous {
	display: block;
	color: #000;
	font-size: 11px; /*8pt;*/
	position: absolute; 
    margin: 1px; 
    padding: 2px 0px 0px 2px; 
    color: #000000;
    width: 89px; 	
    z-index:2;							          
}


/* ---------------------------------------------------------------
	AGENDA
--------------------------------------------------------------- */
#titreAgenda {
	text-align: center;
	width: 672px; 
	margin: 0 auto; 
	padding-left: 30px;
}

#agenda { 
 	position: relative;
 	margin: 0 auto 0px auto;
 	width: 746px;
 	height: 540px;
 } 
 
#agenda a { 
 	color: #FFFFFF; 
 	text-decoration: none;
	display: block;
	height: 40px; 
	background-color: transparent;
	border-bottom: dashed 1px #5555FF;	
}

#agenda a.case-heure-bas {
	border-bottom: none;
}

#agenda a:hover { 
	color: #FFFFFF; 
	text-decoration: underline;
	background-color: #9ac5e7;
}

#intersection { 
	float: left; 
	height: 15px; 
	width: 30px; 
}

#posGrille{
    position: absolute;
    top:28px;
    left:12px;
}

#col-heures { 
	float: left;
	width: 30px;
}

#col-heures div { 
	height: 41px; 
	font-size: 9px;  /*7pt; */
	right: 0px; 
	padding-right: 1px;
	text-align: right; 
}

.border-TRB {	
	border-top: solid 2px #5555FF; 
	border-right: solid 2px #5555FF; 
	border-bottom: solid 2px #5555FF; 
}
 
.border-L { 
	border-left: solid 2px #5555FF; 
}

.col-jour { 
	margin-top: 1px; 
	float: left; 
	width: 97px;  
}

.case-jour { 
	background-color: #5555FF;
	float: left; 
	width: 97px; 
	height: 20px; 
	padding-top: 2px;
	text-align: center; 
	color: #FFF;
}



/* ---------------------------------------------------------------
PAGE INSCRIPTION 
--------------------------------------------------------------- */

#ligneForm{
    height:25px;
}
#bcContenu p {
    text-align: center;
}
form table{
    margin: 0 auto;
}

#colGauche{
    text-align: right;
    padding-right: 10px;
}

#btnNormal {
	-moz-box-shadow:inset 0px 1px 0px 0px #e3b47b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e3b47b;
	box-shadow:inset 0px 1px 0px 0px #e3b47b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #faa844), color-stop(1, #ff8f05));
	background:-moz-linear-gradient(top, #faa844 5%, #ff8f05 100%);
	background:-webkit-linear-gradient(top, #faa844 5%, #ff8f05 100%);
	background:-o-linear-gradient(top, #faa844 5%, #ff8f05 100%);
	background:-ms-linear-gradient(top, #faa844 5%, #ff8f05 100%);
	background:linear-gradient(to bottom, #faa844 5%, #ff8f05 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa844', endColorstr='#ff8f05',GradientType=0);
	background-color:#faa844;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ad7d29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e39c2b;
    width:130px;
    height: 25px;
    vertical-align: middle;
   padding-bottom: 20px;
}

#btnNormal:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff8f05), color-stop(1, #faa844));
	background:-moz-linear-gradient(top, #ff8f05 5%, #faa844 100%);
	background:-webkit-linear-gradient(top, #ff8f05 5%, #faa844 100%);
	background:-o-linear-gradient(top, #ff8f05 5%, #faa844 100%);
	background:-ms-linear-gradient(top, #ff8f05 5%, #faa844 100%);
	background:linear-gradient(to bottom, #ff8f05 5%, #faa844 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8f05', endColorstr='#faa844',GradientType=0);
	background-color:#ff8f05;
}
#btnNormal:active {
	position:relative;
	top:1px;
}

#btnImgSave{
    background-image:url(../images/sauver.png);
    width:27px;
    height:28px;
    background-repeat: no-repeat;
    vertical-align:bottom;
    margin-left: 10px;
}
#btnImgStop{
    background-image:url(../images/supprimer.png);
    width:27px;
    height: 28px;
    background-repeat: no-repeat;
    vertical-align:bottom;
    margin-left: 10px;
}

input{
    margin-bottom: 12px;
}

.public{
    margin: 20px;
}
/* ---------------------------------------------------------------
PAGE PARAMETRES 
--------------------------------------------------------------- */

#AjoutCat, h3{
    padding-left: 117px;
}

#bcContenuErreur{
    position: relative;
	background: url(../images/contenu.png) repeat-y;
	min-height: 30px;
	padding: 0px 10px;
}
#bcContenuErreur p{
    border: 3px solid #ff8f05;
    width:400px;
    margin: 0 auto;
    text-align: center;
}
/* ---------------------------------------------------------------
PAGE RECHERCHE
--------------------------------------------------------------- */
#resRecherche tr:nth-child(odd),#resAbonnements tr:nth-child(odd){ 
   background-color: #9AC5E7;
    
    
}
#resRecherche tr:nth-child(even),#Abonnements tr:nth-child(even){ 
   background-color: #E5ECF6;
}

#resRecherche tr td,#resAbonnements tr td{
    height:30px;
    max-width: 520px;
    vertical-align:middle;
    padding-left: 5px;
}


h4{
    text-align: center;
}