
/* -----------------------RESET CSS------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* -----------------------Personnalisation------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* -----------------------Personnalisation------------------------- */
/* -----------------------Personnalisation------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* -----------------------Personnalisation------------------------- */


	#body{
		text-decoration: none;
	}
	#intro{
		margin:100px;
		border: 2px;
		border-color:orange;
		border-style: solid;
		padding:20px;
	}
	#centre {
		text-align:	left;
	}
	/* -----------------------Tableaux------------------------- */
	/* ----------------------- Page 1 ------------------------- */
	#tableau {
		border-collapse: collapse;
		border-spacing: 0;
		text-align: center;
		margin : 0 auto ;
	}
	#gris{
		background-color:#C0C0C0;
	}
	#tableau tbody td:hover {
		background: #3399FF;
		color: white;
		}
	#tableau td,
	#tableau th {
		border: 1px solid black ;
		padding: 5px ;
	}

	/* -----------------------Reservation------------------------- */
	fieldset{
		border: 2px solid black;
		margin:25px 20px 10px;
		padding-bottom: 0px;
		padding:10px;
		line-height:300%;
		width:70%;
		padding:5px;
		}
		/* -----------------------Reservation------------------------- */
	input [type="submit"]{
	display:block;
	margin: 0 auto ;
	}
	input [type="reset"]{
	display:block;
	margin: 0 auto ;
	}
	#colonnegauche{
		text-align:right;
		}
	#milieu{
		text-align: center;
		margin: 15px;
	}
	/* -----------------------Commun au pages------------------------- */
	body{
		margin:0px auto;
		width:900px;
	}
	td a{
		text-decoration:none;
		color:black;
	}
	li a {
		text-decoration:none;
		color:black;
	}

	h1{
			text-align:right;
	    text-shadow: 1px -1px 0 #26ffff;
	    font-size: 26px;
	    font-weight: bold;
	    color: #000000;
	}
	h2{
			text-align:left;
	    text-shadow: 1px -1px 0 #D4390B;
	    font-size: 26px;
	    color: #000000;

	}
	h3{
		text-align:left;
		text-shadow: 1px -1px 0 #33FF33;
		font-size: 26px;
		color: #000000;
	}
	h4{
		text-align:left;
		text-shadow: 1px -1px 0 #33FF33;
		font-size: 26px;
		color: #000000;
	}
	a{
		text-decoration: none;
	}
	a header{
		background-image: url("../images/ecran.png");
		background-repeat : repeat ;
	}

	footer{
		border-top:2px dotted grey;
		position:fixed;
		background-color:white;
		height:40px;
		width:900px;

	}
	footer li {
		display:inline;
		margin-right:220px ;
	}

	strong{
	font-weight: bold;
	}
	div{
		margin-bottom: 50px;
	}
	/* -----------------------Mise en place du menu------------------------- */
	#menu{
		position:fixed;
		left:-240px;
		top:350px;
		color: black;

		height: 15px;

	}
	#menu:hover {
		position:fixed;
		left:0px;
		top:350px;
		padding : 20px;
		display: block;
		background-color: white;
		text-align: center;
		}

		/*#niveau1bis {
			background-color: black;
			color: white;
			font-weight: bold;
			display : block;
			text-align: center;
			z-index: 3;
			position: relative;
			padding:10px;
			border-radius:8px;
			}*/

		#niveau1 {
			background-color: black;
			color: white;
			display : block;
			text-align:center;

			position: relative;
			padding: 5px;
			text-decoration:none;
			width: 230px;
			border-radius: 8px;
		}
		#roule li:hover ul {
			visibility:visible;
			text-align:center;
			background-color: white ;
			padding: 15px ;
			width: 50px;
			height:60px;

			position:absolute;
			display: block;
			border: 2px solid black ;
		}
		#roule ul {
			left:255px;
			visibility: hidden;
			position:absolute;
			display: block;
			text-decoration:none;
				border-radius: 8px;
		}
		/* -----------------------Position horaire MENU------------------------- */
		#test1 {
			top:15px;
		}
		#test2 {
			top:37px;
		}
		#test3 {
			top:62px;
		}

	#bouton {
		color:white;
		display:block;
		text-align: center !important;
		position:relative ;
		width:120px;
		height:20px;
		left:235px ;
		background-color: black;
		border-radius:5px;
		font-weight: bold;
		text-align: right;
		}

	/* -----------------------Infos------------------------- */
	article{
		padding: 20px;
		height: 90px;
	}

	p{
		margin : 5px auto;
		float: none;
		}
	aside{
		float: left;
		margin-right: 15px;
		margin-top:5px;
		border: 3px solid ;
		text-align: center;
		background-color: #C0C0C0;
		color:black;
		font-weight: bold;
		border-radius: 8px;
		padding:5px;
			}

	aside img {
				margin: 20px auto ;
	}
	aside a {
		text-decoration: none;
		color:blue;
	}
	article{
		margin-bottom: 150px;
	}
	#info{
		background-color: white;
	}
	#description{
				float: left;
				margin-right: 13px;
				margin-bottom: 50px;
				border: 3px solid ;
				margin-top: 100px;
			}

	#ba{
		text-align: center;
	}
	#centre{
		white-space:normal;
	}
/* -----------------------Infos------------------------- */
#droite aside{
	float:right;
	margin-left: 10px;
}
article{
	margin-bottom: 30px;
}
#menu, aside , #niveau1, #roule, #ba , #bouton , iframe , h3 {
  display: none ;
}
